<form>
  First Name {{input value=model.first}}
  Last Name {{input value=model.last}}
  Twitter {{input value=model.twitter}}
  {{#unless model.isNew}}
    <button {{ action "delete" model }} class="error">Delete</button>
  {{/unless}}
    <button {{ action "cancel" model }} class="warning">Cancel</button>
  {{#if model.hasDirtyAttributes}}
    {{#unless model.isSaving}}
      <button {{ action "save" model }} class="success">Save</button>
    {{/unless}}
  {{/if}}
</form>
