<form>
  Name {{input value=model.name}}
  Email {{input value=model.email}}
  Password {{input value=model.password type="password"}}
  {{#unless model.isNew}}
    <button {{ action "delete" model }} class="error">Delete</button>
  {{/unless}}
    <button {{ action "cancel" model }} class="warning">Cancel</button>
  {{#if model.hasDirtyAttributes}}
    {{#unless model.isSaving}}
      <button {{ action "save" model }} class="success">Save</button>
    {{/unless}}
  {{/if}}
  {{#if (eq model.id '1')}}
    <div class="warning-message">Deletion and changing of default user is prohibited. The server will return an error.</div>
  {{/if}}
</form>
