{{#if model}}
  <h3>Users</h3>
  <ul>
    {{#each model as |user|}}
      {{#unless user.isNew}}
        <li>{{user.id}}. {{user.name}} {{user.email}} {{#link-to 'users.edit' user tagName='button'}}Edit{{/link-to}}</li>
      {{/unless}}
    {{/each}}
  </ul>
{{else}}
  No users
{{/if}}
{{link-to "New" "users.new" tagName="button"}}
