{{#if model}}
    Users list {{link-to "New" "users.new" tagName="button"}}
    <ul>
      {{#each model as |user|}}
          <li>{{user.id}}. {{user.name}} {{user.email}} {{#link-to 'users.edit' user tagName='button'}}Edit{{/link-to}}</li>
      {{/each}}
    </ul>
{{else}}
    No users
{{/if}}
